# Compiladores y objetos
*.o
*.obj
*.exe
*.out
*.app
*.lo
*.la

# Bibliotecas compartidas y estáticas
*.a
*.lib
*.so
*.dylib
*.dll

# Carpetas de compilación y CMake
build/
bin/
obj/
out/
.vscode/
.idea/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
.vs/
Makefile
cmake_install.cmake
install_manifest.txt

# Depuración y perfiles
*.gch
*.pch
.DS_Store
Thumbs.db
*.suo
*.user
*.idb
*.pdb
*.ilk
*.exp
*.res
*.manifest
*.recipe
*.lastbuildstate
*.tlog
*.log
*.ipch
*.vsidx
*.wsuo
*.opendb
*.aps
*.binlog
*.sbr
*.bsc
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
*.gcda
*.gcno
*.gcov
*.profraw
*.profdata
*.hpp
*.inl